<template>
  <div id="home">
    <el-container class="home_container">
      <!--侧边栏-->
      <el-aside width= "170px">
        <el-col :span="12">
          <el-menu
            router
            :default-active="$route.path"
            background-color="#343f56"
            text-color="#c1cad9"
            active-text-color="#6495ff"
            :collapse = munustatus
            :collapse-transition= false
          >
            <h2 class="xl">信令中心</h2>
            <el-menu-item index="Welcome">
              <i class="el-icon-s-home"></i>
              <span slot="title">首页</span>
            </el-menu-item>
            <el-submenu index="1">
              <template slot="title">
                <i class="el-icon-setting"></i>
                <span>导航</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="Topo">Topo</el-menu-item>
                <el-menu-item index="Tree">Tree</el-menu-item>
                <el-menu-item index="Table">Table</el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </el-menu>
        </el-col>
      </el-aside>
      <el-container>
        <!--头部-->
        <el-header>
          <div type="button" class="toggle_button" @click="isStatus">|||</div>
          <!--面包屑-->
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/Welcome' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>{{this.$route.path}}</el-breadcrumb-item>
          </el-breadcrumb>
          <!--下拉菜单-->
          <el-select v-model="value" placeholder="请选择" @change="select_change">
            <el-option
              v-for="item in info"
              :key="item.value"
              :label="item.label"
              :value="item.label"
            >
              <span style="float: left">{{ item.label }}</span>
            </el-option>
          </el-select>
          <!--退出按钮-->
          <el-button type="primary" @click="quit">退出</el-button>
        </el-header>
        <el-divider></el-divider>
        <!--内容-->
        <el-main>
          <!--渲染-->
          <router-view :fdata="fdata" :table="info"></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>
<script>
var s = '11'
// eslint-disable-next-line no-unused-vars
var info1 = [{label: '黄金糕'}]
var q
export default {
  methods: {
    quit () {
      this.$router.push({ path: '/' })
    },
    select_change (val) {
      this.fdata = val
    },
    get () {
      this.info = q
    },
    isStatus () {
      this.munustatus = !this.munustatus
      console.log(this.munustatus)
    }
  },
  mounted () {
    // eslint-disable-next-line no-undef
    $.ajax({
      url: 'http://localhost:8080/topo/jsons.action',
      type: 'get',
      success: function (response) {
        q = response.data
      }
    })
    this.timer = setTimeout(this.get, 1000)
  },
  data () {
    return {
      info: info1,
      value: '',
      fdata: s,
      timer: '',
      munustatus: false
    }
  }
}
</script>
<style>
#home,
.home_container {
  height: 100%;
  width: 100%;
  margin: 0;
}
.xl{
  color: #fff;
  text-align: center;
}
.el-header {
  height: 50px;
  display: flex;
}
.el-aside {
  background-color: #343f56;
  width: 170px;
}
.el-menu {
  width: 170px;
}
.el-main {
}
.home-container {
  height: 100%;
}
.el-header > .el-button {
  position: absolute;
  right: 30px;
  top: 10px;
}
.el-header > .el-select {
  position: absolute;
  right: 120px;
  top: 10px;
}
.el-divider {
  margin: 0;
}
.el-header > .el-breadcrumb {
  position: absolute;
  top: 25px;
}
.toggle_button{
  color: #0000;
  text-align: center;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0.2em;
  cursor: pointer;
}
</style>
