<template>
  <div>
  <!--表格-->
    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="label" label="地址">
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
          <el-button
            size="mini"
            type="danger"
            @click.native.prevent="handleDelete(scope.$index, tableData)"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!--添加-->
    <el-button size="mini" icon="el-icon-plus" @click="addEdit"></el-button>
    <!--编辑表单-->
    <el-dialog
      title="编辑"
      :visible.sync="editFormVisible"
      :close-on-click-modal="false"
      class="edit-form"
      :before-close="handleClose"
    >
      <el-form :model="tableData" label-width="80px" :rules="editFormRules" ref="editForm">
        <el-form-item label="地址" prop="table">
          <el-input v-model="input" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click.native="handleCancel()">取消</el-button>
        <el-button type="primary" @click.native="handleUpdate()">完成</el-button>
      </div>
    </el-dialog>
    <!--增加表单-->
    <el-dialog
      title="添加"
      :visible.sync="addForm"
      :close-on-click-modal="false"
      class="edit-form"
      :before-close="handleClose"
    >
      <el-form :model="tableData" label-width="80px" :rules="editFormRules" ref="add">
        <el-form-item label="地址">
          <el-input v-model="input" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click.native="handleCancel()">取消</el-button>
        <el-button type="primary" @click.native="addUpdata()">完成</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
// import $ from 'jquery'
export default {
  props: ['table'],
  data () {
    return {
      num: '',
      input: '',
      tableData: this.table,
      editFormVisible: false,
      addForm: false
    }
  },
  methods: {
    // 删除
    handleDelete (index, rows) {
      rows.splice(index, 1)
      // eslint-disable-next-line no-undef
      $.ajax({
        url: 'http://localhost:8080/topo/json.action',
        type: 'post',
        data: {data: JSON.stringify(this.tableData)},
        success: function (response) {
          console.log(response)
        }
      })
    },
    // 编辑
    handleEdit (index, rows) {
      this.editFormVisible = true
      this.editForm = Object.assign({}, rows)
      this.num = index
      this.input = this.tableData[this.num].label
      console.log(index)
    },
    // 点击取消
    handleCancel () {
      this.editFormVisible = false
      this.addForm = false
    },
    // 点击确认
    handleUpdate () {
      this.editFormVisible = false
      this.tableData[this.num].label = this.input
      this.input = ''
      // eslint-disable-next-line no-undef
      $.ajax({
        url: 'http://localhost:8080/topo/json.action',
        type: 'post',
        data: {data: JSON.stringify(this.tableData)},
        success: function (response) {
          console.log(response)
        }
      })
    },
    // 添加数据
    addEdit (index, rows) {
      this.input = ''
      this.addForm = true
      this.add = Object.assign({}, rows)
    },
    // 数据确认
    addUpdata () {
      this.tableData.push({
        label: this.input
      })
      this.addForm = false
      this.input = ''
      // eslint-disable-next-line no-undef
      $.ajax({
        url: 'http://localhost:8080/topo/json.action',
        type: 'post',
        data: {data: JSON.stringify(this.tableData)},
        success: function (response) {
          console.log(response)
        }
      })
    }
  }
}
</script>
