<template>
  <div>
    <el-button type="primary" round class="btn btn-info" id="up">同步</el-button>
    <!-- 第一步: 先配置一个canvas标签,并设置id  -->
    <canvas id="canvas"></canvas>
  </div>
</template>
<style>
</style>
<script>
export default {
  mounted () {
    var option = {
      id: 'canvas', // 说明: canvas标签的id,     写法: canvas , #canvas
      width: 'auto', // 说明: canvas的宽度,       写法: 500,500px,50%,auto,默认auto
      height: 'auto', // 说明: canvas的高度,       写法: 500,500px,50%,auto,默认auto
      isOnAnimateBall: true, // 说明: 是否启动连线的动画球 写法: true,false,  默认:false
      isShowConsolePanel: true, // 说明: 是否显示控制台,      写法: true,false,  默认true
      isHoverNodeLight: true, // 说明: 是否悬停节点高亮,    写法: true,false,  默认true
      isShowNodeLabel: true, // 说明: 是否显示节点文字,    写法: true,false,  默认true
      isShowNodeTooltip: false, // 说明: 是否显示节点提示框,  写法: true,false,  默认false
      isShowEdgeLabel: false, // 说明: 是否显示连线文字,    写法: true,false,  默认false
      isShowEdgeTooltip: false, // 说明: 是否显示连线提示框,  写法: true,false,  默认false
      isShowEdgeArrow: false, // 说明: 是否显示连线箭头,    写法: true,false,  默认false
      style: { // 说明: 全局样式
        global: {
          backgroundColor: '#ffffff', // 说明: 支持fillstyle所有原生写法, 例: rgba(255,255,255,1),默认#ffffff
          backgroundImage: 'img/ctopobg.png', // 说明: 背景网格线, 默认为null
          backgourndImageOpacity: 0.3, // 说明: 背景网格线透明度, 配置了backgroundImage此字段才有效, 默认0.3
          // 备注: backgroundColor灰,白,0.5美观;backgroundColor黑色,蓝色,0.2美观
          tooltipBackgroundColor: 'rgba(0, 0, 0, 0.7)', // 说明: 悬停提示的背景色样式,默认rgba(0, 0, 0, 0.7)
          tooltipColor: 'rgb(255, 255, 255)' // 说明: 悬停提示的文字样式,默认rgb(255, 255, 255)
        },
        node: {
          color: '#00adee', // 说明: 节点颜色, 支持fillstyle所有原生写法, 优先级低于节点自带属性, 默认#00adee
          size: 20, // 说明: 节点直径, 优先级低于节点自带属性, 默认20px,
          textColor: '#878787', // 说明: 节点Label颜色, 优先级低于节点自带属性, 默认#878787
          textSize: 10 // 说明: 节点Label字体大小, 优先级低于节点自带属性, 默认10px
        },
        edge: {
          color: '#c2c2c2', // 说明: 连线颜色, 支持fillstyle所有原生写法, 优先级低于节点自带属性, 默认#c2c2c2
          size: 1, // 说明: 连线宽度, 优先级低于节点自带属性, 默认1px
          textColor: '#878787', // 说明: 节点Label颜色, 优先级低于节点自带属性, 默认#878787
          textSize: 10 // 说明: 节点Label字体大小, 优先级低于节点自带属性, 默认10px
        }
      },
      layout: {
        name: 'force', // 说明: 布局方式,支持force力导向和preset预设, 默认force
        param: {
          isScale: false, // 说明: 默认第一次应用布局,是否自适应屏幕宽高,等比例缩放,默认false
          isRandom: false, // 说明: 默认初始位置是随机Random还是定位location,默认false
          initAreaW: 100, // 说明: 初始分布是的初始宽,默认100px
          initAreaH: 56, // 说明: 初始分布是的初始高,默认56px
          energy: 0.5, // 说明: 能量值范围0.3-1,  默认0.5
          iterations: 150, // 说明: 力导向的迭代次数,默认150
          ejectFactor: 2, // 说明: 默认斥力常量,默认2
          ejectRange: 250, // 说明: 最大斥力范围,超过的不计算节点间斥力,默认2
          ejectFadeRange: 30, // 说明: 节点簇的减弱范围,此范围内ejectFactor-1,默认30
          condenseFactor: 1, // 说明: 默认引力常量,默认1
          maxtx: 3, // 说明: 每次迭代的x方向最大移动距离,默认3
          maxty: 1.68 // 说明: 每次迭代的y方向最大移动距离,默认1.68
        }
      },
      data: {
        nodes: [],
        edges: []
      },
      event: { // 说明: 监听回调
        steerwheel: function (keyCode) { // 说明: 上下左右的平移回调, keyCode等于上下左右的键盘按键
          // console.log(keyCode);
        },
        scale: function (prevScale, scale) { // 说明: 放大,缩小的回调, prevScale=上一次的比例,scale=当前比例
          // console.log(scale);
        },
        clickNode: function (e, node) { // 说明: 点击节点的回调, e=event,node=被点击节点
          // console.log(node);
        },
        hoverNode: function (e, node) { // 说明: 悬停节点的回调, e=event,node=被悬停节点
          // console.log(node);
        },
        leaveNode: function (e) { // 说明: 离开节点的回调, e=event
          // console.log(e);
        },
        clickEdge: function (e, edge) { // 说明: 点击连线的回调, e=event,edge=被点击连线
          // console.log(edge);
        },
        hoverEdge: function (e, edge) { // 说明: 悬停连线的回调, e=event,edge=被悬停连线
          // console.log(edge);
        },
        leaveEdge: function (e) { // 说明: 离开连线的回调, e=event
          // console.log(e);
        }
      }
    }
    var http = 'http://'
    var config = ':8080/lua/system/config'
    var platform = ':8080/lua/platform'

    function myajax (url) {
      var str
      // eslint-disable-next-line no-undef
      $.ajax({
        type: 'post',
        timeout: 2000,
        url: 'TopoAction.action',
        async: false,
        data: {
          url: http + url + config
        },
        success: function (data) {
          if (data.payload != null) {
            str = data.payload
          } else {
            str = data
          }
        },
        error: function () {
          str = {
            ipaddress: url
          }
        }
      })
      return str
    };

    function myajax2 (url) {
      var st
      // eslint-disable-next-line no-undef
      $.ajax({
        type: 'post',
        timeout: 2000,
        url: 'TopoAction.action',
        async: false,
        data: {
          url: http + url + platform
        },
        success: function (data) {
          st = data
        },
        error: function () {
          // eslint-disable-next-line no-undef
          str = {
            ipaddress: url
          }
        }
      })
      return st
    };

    function random (min, max) {
      return Math.floor(Math.random() * (max - min)) + min
    }
    // eslint-disable-next-line no-undef
    $('#up').click(function () {
      var url = '172.31.92.203'
      // eslint-disable-next-line no-array-constructor
      var array = new Array()
      var sta = false
      array[0] = myajax(url)
      // eslint-disable-next-line no-undef
      $.extend(array[0], myajax2(url))
      for (let i = 0; i < array.length; i++) {
        if (array[i].payload != null) {
          for (let q = 0; q < array[i].payload.length; q++) {
            url = array[i].payload[q].F_IPADDRESS
            sta = false
            for (let a = 0; a < array.length; a++) {
              if (array[a] == null) {
                break
              }
              if (array[a].ipaddress === url) {
                sta = true
                break
              }
            };
            // 已存在则直接跳过
            if (sta === true) {
              continue
            } else if (sta === false) {
              array.push(myajax(url))
            }
            if (array[array.length - 1].ipaddress != null) {
              // eslint-disable-next-line no-undef
              $.extend(array[array.length - 1], myajax2(array[array.length - 1].ipaddress))
            }
          }
        }
      };
      for (let z = 0; z < array.length; z++) {
        var s = array[z].ipaddress
        option.data.nodes.push({
          id: s,
          x: random(1, 100),
          y: random(1, 100),
          label: array[z].ipaddress,
          color: '#00adee',
          size: 20,
          textColor: '#878787',
          textSize: 10
        })
      }
      for (let i = 0; i < array.length; i++) {
        if (array[i].payload != null) {
          for (let q = 0; q < array[i].payload.length; q++) {
            for (let a = 0; a < array.length; a++) {
              if (array[a].ipaddress === array[i].payload[q].F_IPADDRESS) {
                switch (array[i].payload[q].F_CATEGORY) {
                  case 'PLAT_PARENT':
                  {
                    option.data.edges.push({
                      source: array[i].ipaddress,
                      target: array[a].ipaddress
                    })
                    break
                  }
                  case 'PLAT_SIBLING':
                  {
                    option.data.edges.push({
                      source: array[i].ipaddress,
                      target: array[a].ipaddress
                    })
                    break
                  }
                  case 'PLAT_CHILD':
                  {
                    option.data.edges.push({
                      source: array[i].ipaddress,
                      target: array[a].ipaddress
                    })
                    break
                  }
                }
              }
            }
          }
        }
      }
      // eslint-disable-next-line no-undef
      ctopo(option)
      console.log(option.data)
    })
  }
}
</script>
