<template>
  <div id="Treebody">
    <div id="video">
      <video id="myvideo" class="video-js vjs-default-skin">
        <source src="rtmpurl" />
      </video>
    </div>
    <div id="tree">
      <el-input placeholder="输入关键字进行过滤" v-model="filterText"></el-input>
      <el-tree
        class="filter-tree"
        ref="tree"
        :data="data"
        :props="defaultProps"
        accordion
        :filter-node-method="filterNode"
        @node-click="getCurrentKey"
        @node-contextmenu="rightclick(event, data, node, comp)"
      ></el-tree>
    </div>
  </div>
</template>
<script>
import $ from 'jquery'
var params = []
var array = []
// var player = videojs("myvideo", {}, function() {
//   console.log("videojs播放器初始化成功");
// });
export default {
  props: ['fdata'],
  watch: {
    filterText (val) {
      this.$refs.tree.filter(val)
    },
    // select选择时加载
    fdata: function (n, o) {
      $.ajax({
        type: 'post',
        url: 'http://localhost:8080/topo/Topo.action?url=http://' + this.fdata,
        success: function (response) {
          array = response.data.payload
          params = []
          for (let i = 0; i < array.length; i++) {
            params.push({
              id: (i + 1),
              device: array[i].f_device_id,
              label: array[i].f_name + '(' + array[i].f_children.length + ')',
              children: []
            })
            if (array[i].f_children != null) {
              for (let q = 0; q < array[i].f_children.length; q++) {
                let str = array[i].f_children[q].f_name;
                (params[i].children).push({
                  id: (i + 1) + '.' + (q + 1),
                  device: array[i].f_children[q].f_device_id,
                  label: str + '(' + array[i].f_children[q].f_children.length + ')',
                  children: []
                })
                if (array[i].f_children[q].f_children != null) {
                  for (let a = 0; a < array[i].f_children[q].f_children.length; a++) {
                    let st = array[i].f_children[q].f_children[a].f_name;
                    (params[i].children[q].children).push({
                      id: (i + 1) + '.' + (q + 1) + '.' + (a + 1),
                      device: array[i].f_children[q].f_children[a].f_device_id,
                      label: st,
                      children: [{
                        label: ''
                      }]
                    })
                  }
                }
              }
            }
          }
        }
      })
    }
  },
  methods: {
    filterNode (value, data) {
      if (!value) return true
      return data.label.indexOf(value) !== -1
    },
    getCurrentKey (data) {
      if (data.id.length >= 5) {
        $.ajax({
          url: 'http://localhost:8080/topo/Topo.action?url=http://' + this.fdata,
          type: 'post',
          success: function (response) {
            data.children = []
            for (let i = 0; i < response.data.payload.length; i++) {
              if (response.data.payload[i].F_NAME != null) {
                data.children.push({
                  id: data.id + '.' + (i + 1),
                  label: response.data.payload[i].F_NAME,
                  domain: response.data.payload[i].F_DOMAIN,
                  room_type: response.data.payload[i].F_ROOM_TYPE,
                  ptz_type: response.data.payload[i].F_PTZ_TYPE,
                  latitiude: response.data.payload[i].F_LATITIUDE,
                  ipaddress: response.data.payload[i].F_IPADDRESS,
                  channel_type: response.data.payload[i].F_CHANNEL_TYPE,
                  status: response.data.payload[i].F_STATUS,
                  port: response.data.payload[i].F_PORT,
                  protocol: response.data.payload[i].F_PROTOCOL,
                  longitude: response.data.payload[i].F_LONGITUDE,
                  platform_id: response.data.payload[i].F_PLATFORM_ID,
                  playback_id: response.data.payload[i].F_PLAYBACK_ID,
                  position_type: response.data.payload[i].F_POSITION_TYPE,
                  parent_id: response.data.payload[i].F_PARENT_ID,
                  connection_type: response.data.payload[i].F_CONNECTION_TYPE,
                  encoding: response.data.payload[i].F_ENCODING,
                  civil_code: response.data.payload[i].F_CIVIL_CODE,
                  device_id: response.data.payload[i].F_DEVICE_ID,
                  realtime_id: response.data.payload[i].F_REALTIME_ID,
                  name: response.data.payload[i].F_NAME,
                  owner_list: response.data.payload[i].F_OWNER_LIST,
                  control_id: response.data.payload[i].F_CONTROL_ID
                })
              }
            };
          }
        })
      }
    },
    rightclick (event, data, node, comp) {
      console.log(event, data, node, comp)
    }
  },
  data () {
    return {
      timer: '',
      filterText: '',
      data: params,
      defaultProps: {
        children: 'children',
        label: 'label'
      }
    }
  },
  mounted () {}
}
</script>
<style>
#tree {
  width: 300px;
  position: absolute;
  right: 5px;
  top: 79px;
}
.Treebody {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
}
#myvideo {
  width: 1060px;
  height: 650px;
}
</style>
